<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - CRUDPessoasTeste</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">CRUDPessoasTeste</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Lista de pessoas -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Pessoas/Index">Listar Pessoas</a>
                        </li>

                        <!-- Criar pessoa -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Pessoas/Create">Criar Pessoa</a>
                        </li>

                        <!-- Deletar pessoa (abre página que pede o CPF, por exemplo) -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Pessoas/Delete">Deletar Pessoa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
