@page
@model CRUDPessoasTeste.Pages.Pessoas.CreateModel

<h1>Criar Pessoa</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Pessoa.Cpf" class="form-label"></label>
        <input asp-for="Pessoa.Cpf" class="form-control" />
        <span asp-validation-for="Pessoa.Cpf" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Pessoa.Rg" class="form-label"></label>
        <input asp-for="Pessoa.Rg" class="form-control" />
        <span asp-validation-for="Pessoa.Rg" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Pessoa.Nome" class="form-label"></label>
        <input asp-for="Pessoa.Nome" class="form-control" />
        <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Pessoa.Nascimento" class="form-label"></label>
        <input asp-for="Pessoa.Nascimento" class="form-control" />
        <span asp-validation-for="Pessoa.Nascimento" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Pessoa.Email" class="form-label"></label>
        <input asp-for="Pessoa.Email" class="form-control" />
        <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-page="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}